body{
    margin: 0px;
}

.bot-header {
    text-align: center;
    background: blue;
    color: white;
    height: 53px;
    position: inherit;
    width: 100%;
    top: 0;
}
.botui-app-container {
    /* position: absolute; */
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    /* border-style: ridge; */
    min-height: auto;
    /* margin: 3px; */
    border-radius: 10px;
    height: auto;
    /* width: 700px; */
    overflow-y: auto;
}

.hide {
    display: none;
}
.botui-message-content.text {
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color: #4a4a4a;
    font-family: 'Lato', sans-serif;
    border-radius: 4px;
    font-size: 18px;
}

.botui-message-content.loading {
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color: #4a4a4a;
    border-radius: 4px;
}

.botui-actions-buttons {
    text-align: right;
}

button.botui-actions-buttons-button {
    outline: none !important;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    border-radius: 4px;
    background-color: #5a46ff;
}

.botui-message-content.human {
    background-color: #5a46ff;
    color: #fff;
}